; -*- mode: clojure; -*-
; vim: filetype=clojure
(require 'riemann.influxdb)

; Listen on the local interface over TCP (5555), UDP (5555), and websockets
; (5556)
(let [host "127.0.0.1"]
  (tcp-server {:host host})
  (udp-server {:host host})
  (ws-server  {:host host}))

(periodically-expire 60)

(def influx 
  (influxdb {:host "localhost"
             :version :0.9
             :scheme "http"
             :port "8086"
             :db "riemann"
             :username "riemann"
             :password "riemann"
             :tag-fields #{:host :environment}}))

(let [index (index)]
  (streams
    (where (service "auction_response")
      (split
        (= -1 metric)
          (with :service "auction_fail_rate"
            (with :metric 1 (rate 5 influx)))
        (with :service "auction_success_rate"
          (with :metric 1 (rate 5 influx)))))
    (where (service "bid")
      (with :metric 1
        (by :bidder
          (rate 5 
            (smap #(assoc % :service (str "bid_" (:bidder %) "_rate"))
              influx)))))))
